certifi==2024.7.4
Cython==3.0.10
dataclasses-json==0.6.7
Deprecated==1.2.14
earcut==1.1.5
laspy==2.5.4
laszip==0.2.3
llvmlite==0.43.0
lz4==4.3.3
marshmallow==3.21.3
mypy-extensions==1.0.0
numba==0.60.0
numpy==1.26.4
packaging==24.1
plyfile==1.0.3
psutil==6.0.0
psycopg2-binary==2.9.9
pygltflib==1.16.2
pyproj==3.6.1
pyzmq==26.0.3
typing-inspect==0.9.0
typing_extensions==4.12.2
wrapt==1.16.0
